@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Raleway:700,300italic,300);
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    body{font-size: 100%;}
}

@media screen and (min-width: 768px) {
    body{font-size: 90%;}
}

@media screen and (min-width: 1024px) {
    body{font-size: 100%;}
}

@media screen and (min-width: 1280px) {
    body{font-size: 110%;}
}

@media screen and (min-width: 1440px) {
    body{font-size: 120%;}
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans Condensed";
  font-weight: 300;
  letter-spacing: 0.03125em;
}

a {
	color: inherit;
}

.hvr-skew-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-skew-forward:hover, .hvr-skew-forward:focus, .hvr-skew-forward:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}
