.pageBackground {
	z-index: -999;
  position: fixed;
  width: 100%;
  height: 100%;
  /*background: url(../images/road.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 
.content {
	position: absolute;
	left: 5%;
	top: 5%;
}

.title {
	font-weight: 900;
	font-size: 4em;
	margin-bottom: 10px;
}

.subTitle {
	font-weight: 400;
	font-size: 1.5em;
	margin-bottom: 10px;
}

.navBar {
	float: left;
	margin-top: 10px;
	margin-left: -10px;
}

.navItem {
	float: left;
	padding: 10px 10px;
	margin-right: 10px;
	/*border: 1px solid black;*/
}

.navItem:hover {
	color: #FC6D44;
}

.highlighted {
	background-color:  #FC6D44;
	color: white;
	font-weight: 600;
	border: none;
}

.highlighted:hover {
	color: white;
}

.irisImage {
	position: fixed;
	left: 4%;
	bottom: 5%;
	background: url(../images/logo_color_black.svg) no-repeat left center;
	-webkit-background-size: contain;
 	-moz-background-size: contain;
 	-o-background-size: contain;
 	background-size: contain;
	width: 30%;
	height: 10%;
}


.irisVideo {
	position: fixed;
	z-index: -999;
	right: 0%;
	bottom: 0%;
}

.irisGIF {
	display: none;
	z-index: -999;
	position: absolute;
	background: url(../images/iris_video.gif) no-repeat center center;
	-webkit-background-size: contain;
 	-moz-background-size: contain;
 	-o-background-size: contain;
 	background-size: contain;
 	width: 90%;
 	left: 5%;
 	padding-bottom: 100%;
 	bottom: 15%;
 	height: 0;
}

@media screen and (max-width: 1024px) and (orientation:landscape) {
	.irisVideo {
    	display: none;
    }

    .irisGIF {
		display: block;
		left: unset;
		padding-bottom: unset;
	 	right: 0;
	 	bottom: 0;
	 	width: 50%;
	 	height: 80%;
	}
}

@media screen and (max-width: 320px) and (orientation:portrait) {
	.irisGIF {
		bottom: 5%;
	}

	.navBar {
		width: 100%;
	}
}

@media screen and (max-width: 435px) and (orientation:portrait) {
    .irisImage {
    	width: 50%;
    }

    .irisVideo {
    	display: none;
    }

    .irisGIF {
		display: block;
	}

	.navBar {
		width: 100%;
	}
	
	.navItem {
		margin-right: 5px;
	}
}

@media screen and (min-width: 768px) and (orientation:portrait) {
	.irisVideo {
    	display: none;
    }

    .irisGIF {
		display: block;
		bottom: 5%;
	}
}
