body {
	font-family: 'Open Sans', sans-serif;
}

header {
	height: 80px;
	background-color: #333A42;
	margin-bottom: 50px;
}

footer {
	height: 200px;
	background-color: #fff;
	margin-top: 30px;
}


#main-iris {
	border: none;
}

.container-fluid {
	margin: 0 50px;
	/*min-height: 2500px;*/
}

#main {
	margin: 20px 0;
	height: 200px;
}

.header-logo {
	height: 80px;
	padding: 10px;
}

#window {
	max-height: 700px;
	overflow: hidden;
}

#window-nav {
	margin: 15px;
}

#iris-list {
	max-height: 700px;
	overflow: scroll;
}

#avatar {
	height: 50px;
	width: 50px;
}
.comp-group {
	text-align: center;
}

.comp-level {
	text-align: center;
	padding: 10px;
	/*padding: 20px;*/
}

#survey {
	margin-bottom: 50px;
	/*border: 1px solid black;*/
}

.comp-btn {
	margin: 30px;
}

#message {
	min-height: 30px;
	margin-top: 30px;
	font-size: 1.3em;
	/*font-size: large;*/
}

#comp-ladder {
	margin-top: 50px;
}

#startOver {
	color: gray;
	background-color: transparent;
	border: none;
}

.tall-500 {
	min-height: 500px;
}

.window {
	margin: auto, 20px;
	text-align: center;
}

.lead-box {
	border-left: 3px solid green;
	width: 80%;
	margin: 10px auto;
	padding: 0px 10px;
}

.develop-box {
	border-left: 3px solid orange;
	width: 80%;
	margin: 10px auto;
	padding: 0px 10px;
}

.discover-box {
	border-left: 3px solid blue;
	width: 80%;
	margin: 10px auto;
	padding: 0px 10px;
}
