@media screen and (max-width: 435px) {
    body{font-size: 110%;}
}

@media screen and (min-width: 436px) {
    body{font-size: 100%;}
}

@media screen and (min-width: 768px) {
    body{font-size: 90%;}
}

@media screen and (min-width: 1024px) {
    body{font-size: 100%;}
}

@media screen and (min-width: 1280px) {
    body{font-size: 110%;}
}

@media screen and (min-width: 1440px) {
    body{font-size: 120%;}
}

@media screen and (min-width: 1680px) {
    body{font-size: 130%;}
}


/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) 
  and (orientation: portrait) { 

  body{font-size: 170%;}

}

* {
  font-family: "Source Sans Pro";
  font-weight: 300;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
 }

body {
  margin: 0px 0px;
  background-color: #fff;
}

.irisContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.userName {
  position: absolute;
  font-size: 26pt;
  left: 5%;
  top: 5%;
}

.addButton {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 5%;
  bottom: 5%;
  background: url(images/add_sign.svg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
  position: relative;
  /*width: 1440px;*/
  /*height: 900px;*/
  margin: auto;
  overflow: visible;
}

.statistic {
  margin: 0px 20px !important;
  width: 75px !important;
  /*font-size: 18pt;*/
  /*word-wrap: break-word !important;*/
}

.irisDescription {
  /*position: relative;*/
  /*width: 35%;*/
  /*height: auto;*/
  text-align: center;
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
  /*bottom: 3%;*/
  padding: 0 20%;
  margin-top: 20px;
  font-size: 1em;
}

.irisDescription > h2 {
  font-size: 1.3em;
}

.irisDescription > p {
  font-size: 1em;
}


.pageDetails {
  position: absolute;
  width: 100%;
  top: 30px;
}

.pageDetails > .title {
  width: 100%;
  text-align: center;
  font-size: 2.2em;
  font-weight: 500;
}

.pageDetails > .description {
  width: 100%;
  padding: 0 20%;
  margin-top: 20px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 300;
}

.candidate {
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}

.candidate > .candidateButton {
  color: white;
  padding: 10px;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  font-size: 18pt;
  font-weight: 500;
  white-space: nowrap;
  white-space: pre;
  cursor: pointer;
  opacity: 0.8;
}

.candidate > .candidateButton:hover {
  opacity: 1;
}

.candidate > .voteText {
  font-size: 10pt;
  padding-top: 5px;
}

.logo {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  /*white-space: pre;*/
}

.compareCandidates {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
}

.compareCandidates > .help {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 10pt;
  margin-top: 15px;
}

.compareCandidates > .gapAnalysisButton {
  position: relative;
  width: 245px;
  height: 70px;
  font-weight: 700 !important;
  /*top: 15px;*/
}

.compareCandidates > .gapAnalysisButton > span{
  font-weight: 600 !important;
}

.backButton {
  position: absolute;
  opacity: 0;
  bottom: 5%;
  left: 5%;
}

.roleIrisCaption {
  position: absolute;
  text-align: center;
  margin: auto;
  width: 100%;
  bottom: 27%;
  opacity: 1;
  pointer-events: none;
}
