body {
	font-family: 'Open Sans', sans-serif;
}

header {
	height: 80px;
	/*background-color: #333A42;*/
}

footer {
	height: 200px;
	/*background-color: #333A42;*/
	margin-top: 30px;
}

/*Survey section*/
#survey {
	margin-bottom: 50px;
	/*border: 1px solid black;*/
}


/*Competency section*/
.lead-box {
	border-left: 3px solid green;
	width: 80%;
	margin: 10px auto;
	padding: 0px 10px;
}

.develop-box {
	border-left: 3px solid orange;
	width: 80%;
	margin: 10px auto;
	padding: 0px 10px;
}

.discover-box {
	border-left: 3px solid blue;
	width: 80%;
	margin: 10px auto;
	padding: 0px 10px;
}

.btn-comp {
	margin: 2px;
	width: 165px;
	text-align: left;
}

.window {
	margin: auto, 20px;	
	text-align: center;
}

#comp-ladder {
	margin-top: 50px;
}

#message {
	min-height: 30px;
	margin-top: 80px;
	/*font-size: 1.3em;*/
	/*font-size: large;*/
}

.btn-green-border {
	border: 1px solid green;
}

.btn-red-border {
	border: 1px solid red;
}

#startOver {
	color: gray;
	background-color: transparent;
	border: none;
	margin: 5px;
}

/*Stuff for other pages*/
#main-iris {
	border: none;
}

.container-fluid {
	margin: 0 50px;
	/*min-height: 2500px;*/
}

#main {
	margin: 20px 0;
	height: 200px;
}

.header-logo {
	height: 80px;
	padding: 10px;
}

#iris-list {
	/*max-height: 500px;*/
	overflow: scroll;
}

.comp-group {
	text-align: center;
}

.comp-level {
	text-align: center;
	padding: 10px;
	/*padding: 20px;*/
}


.comp-btn {
	margin: 30px;
}


.tall-500 {
	min-height: 500px;
}


